set -x MANPAGER "nvim -c 'set ft=man laststatus=0' -"
source /usr/share/autojump/autojump.fish

contains $HOME/.cargo/bin $fish_user_paths; or set -Ua fish_user_paths $HOME/.cargo/bin
function clipclear
   xsel -bc
end

function qs
   vim $HOME/protocol/questions.md
end

function ta
   tmux-attach
end

function gis
        git status
end

function proto
        vim $HOME/protocol/(date "+%Y-%m-%d").md
end

function yproto
        vim (ls -t $HOME/protocol | head -n 2 | tail -n 1)
end

function lproto
        vim (ls -t $HOME/protocol | head -n 1)
end
function lastn
        ls -t | head -n $argv
end
